.closeWindowBlock{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b7b7b956;
}


.task_adderWindow{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: -10px -10px 30px 0px rgb(255, 255, 255),10px 10px 30px 0px rgb(174, 174, 192, 0.4),inset -10px -10px 10px 0px rgb(174, 174, 192, 0.25),inset 10px 10px 10px -3px rgba(255,255,255);
    position: absolute;
    top: 0;
    left: 0;
    min-width: 500px;
    transform: translate(50%, 100%);

}
.task__cont{
padding: 20px;

}
.task__inputs{
display: flex;
flex-direction: column;
gap: 15px;
}
.task__inputName{
font-size: 16px;
background-color: transparent;
border: none;
font-family: "Prata", serif;
}
.task__inputName:focus{
border: none;
outline: none;
}
.task__inputDescribe{
font-size: 16px;
background-color: transparent;
border: none;
font-family: "Prata", serif;
}
.task__inputDescribe:focus{
border: none;
outline: none;
}
.task__btns{
display: flex;
align-items: center;
justify-content: start;
gap: 20px;
font-family: "Prata", serif;
}

.modal__add{
    font-family: "Prata", serif;
    background-color: transparent;
    padding: 5px 25px;
    border-radius: 15px;
}
.modal__cnl{
    font-family: "Prata", serif;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 15px;
}

.modal__add:active{
    box-shadow: inset -10px -10px 10px 0px rgba(255,255,255,0.7),inset 10px 10px 10px 0px rgb(174, 174, 192, .2);
}
.modal__cnl{
    box-shadow: inset -10px -10px 10px 0px rgba(255,255,255,0.7),inset 10px 10px 10px 0px rgb(174, 174, 192, .2);
}