.login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.login__cont{
    position: relative;
    background-color: #FFFF;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 20px;
    max-width: 300px;
    max-height: 400px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__title{
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
    text-transform: capitalize;
    text-align: center;
}
.login__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

}
.login__input{
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    min-width: 200px;

}
.loginBtnBlock{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login__submitBTN{
    background-color: transparent;
    padding: 5px 25px;
    border-radius: 15px;
    font-size: 18px;
    margin-bottom: 80px;




}

.login__regist{
    border: none;
    background-color: transparent;
}

.error{
    font-size: 14px;
    color: red;
    font-weight: 500;
    margin-bottom: -20px;
}