@import '../style/MainStyles.css';


.todoMain{
    background-color: var(--bkColor);
    position: relative;
    width: 100%;
    z-index: 90;
}
.todoMain__cont{
    padding: var(--standartPaddint) ;
}
.todoMain__title{
    font-family: var(--mainFont);
    text-transform: capitalize;
    font-size: var(--h1);
    font-weight: 700;
    color: var(--textColor);
    margin-bottom: 30px;
}
.todoMain__calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 350px;
}
.todoMain__dates{
    display: block;
    margin-top: 15px;
    width: 100%;
}
.todoMain__tasksCont{
    margin-top: 30px;
}

.task{

}

.task__header{
    font-size: var(--h2);
    font-weight: 400;
    color: var(--textColor);
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    font-family: var(--mainFont);
    text-transform: capitalize;
}

.task__tasks{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--mainFont);
}


.task_adderWindow{
        background-color: rgb(243, 239, 229);
        border-radius: 10px;
        box-sizing: content-box;
}
.task__cont{
    padding: 20px;
}
.task__inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task__inputName{
    font-size: var(--maintext);
    background-color: transparent;
    border: none;
    font-family: var(--mainFont);
}
.task__inputName:focus{
    border: none;
    outline: none;
}
.task__inputDescribe{
    font-size: var(--maintext);
    background-color: transparent;
    border: none;
    font-family: var(--mainFont);
}
.task__inputDescribe:focus{
    border: none;
    outline: none;
}
.task__btns{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.task__text{
    font-size: var(--maintext);
    color: var(--textColor);
    font-family: var(--mainFont);
    
}
.task__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task__containerDel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 0 15px 15px 0 ;

}
.task__containerDel::before{
    border-radius: 0 15px 15px 0 ;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 129, 129, 0.401);
    transform: translate(0, -50%);
    animation: deleteAnimation 0.7s forwards;

}

.task__containerDel::after{
    border-radius: 0 15px 15px 0 ;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    width: 0;
    background-color: rgba(0, 0, 0, 0.401);
    transform: translate(0, -50%);
    animation: deleteAnimation 0.7s forwards;

}

@keyframes deleteAnimation {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
    
}


.task__text::first-letter{
    text-transform: uppercase;
}

.deleteTaskBtn{
    border: none;
    position: relative;

}
.deleteTaskInBtnTrash{
    width: 20px;
    height: 30px; 
    border-radius: 0 0 5px 0;
    background: rgb(47,153,59);
    background: linear-gradient(231deg, rgba(47,153,59,1) 24%, rgba(118,161,118,1) 55%);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s;
    margin-top: 3px;
}
.deleteTaskInBtnLine{
    margin-top: 5px;
    width: 2px;
    height: 20px;
    background-color: white;
}

.deleteTaskInBtnTrashUp{
    margin-left: -2px;
    background: rgb(39,45,106);
    background: linear-gradient(270deg, rgba(39,45,106,1) 9%, rgba(115,125,149,1) 85%);
    width: 24px;
    height: 3px;
    position: absolute;
    transition: 0.3s;
}
.deleteTaskInBtnTrashUp::before{
    content: '';
    background: rgb(39,45,106);
    background: linear-gradient(270deg, rgba(39,45,106,1) 9%, rgba(115,125,149,1) 85%);
    width: 10px;
    height: 5px;
    position: absolute;
    border-radius: 3px 0 0 0 ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(7px, -4px);
}

.deleteTaskBtn:hover .deleteTaskInBtnTrash{
    transition: 0.3s;
    transform: rotate(-20deg) translateY(5px);
}

.deleteTaskBtn:hover .deleteTaskInBtnTrashUp{
    transition: 0.3s;
    transform: rotate(20deg) translateY(-5px);
}




.task__span{
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-family: "Prata", serif;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    text-transform: capitalize;
    color: black;
}

.task__addTaskBtn{
    padding: 5px 20px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1);
    width: 150px;
    height: 40px;
    transition: transform 0.6s ease, width 0.6s ease, height 0.6s ease;
    position: relative;


}

.hovered {
    transform: scale(1.1);
    position: relative; /* Чтобы всплывающее окно отображалось над кнопкой */
    width: 600px;
    height: 300px;
    margin-top: 20px;
}
