:root{
    --mainFont: "Prata", serif;
    --h1: 32px;
    --h2: 24px;
    --h3: 20px;
    --maintext: 16px;
    --bkColor: #F0F0F3;
    --sideNavColor: #F1EEEE;
    --textColor: black;

    --standartPaddint: 55px 40px 0 100px;
}




.prata-regular {
    font-family: "Prata", serif;
    font-style: normal;
}


.mainBlock{
    background-color: rgb(255, 254, 254);
    position: relative;
    width: 100%;
    z-index: 90;
}
.mainBlock__cont{
    padding-left: 100px;
    padding-right: 40px;
    padding-top: 55px;
}

.mainBlock__title{
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}