.mainBlock{
    background-color: rgb(255, 254, 254);
    position: relative;
    width: 100%;
    z-index: 90;
}
.mainBlock__cont{
    padding-left: 100px;
    padding-right: 40px;
    padding-top: 55px;
}

.mainBlock__title{
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}