.user{
    display: flex;
    align-items: center;
}


.userImg{
    border-radius: 50%;
    border: 1px solid orange;
    margin-right: 10px;
    padding: 1px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__name{
    font-family: "Prata", serif;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 14px;
    color: white;
    text-decoration: none;

    &::first-letter{
        text-transform: uppercase;
    }
}
.user__name_white{
    color: black;
    font-family: "Prata", serif;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 0;
    font-size: 14px;
    text-decoration: none;
    &::first-letter{
        text-transform: uppercase;
    }
}
