.myBtn{
    border: none;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
    

}
.myBtn__text{
    font-weight: 500;
    letter-spacing: 0;
    font-size: 16px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    font-family: "Prata", serif;
}

.myBtn:hover{
    box-shadow: 28px 28px 50px 0px rgba(9, 36, 79, 0.26),inset -23px -23px 45px -3px rgb(255, 255, 255);
    background-color: #c8c8c8;
}

.myBtnBlack{
    border: none;
    background-color: transparent;
    font-family: "Prata", serif;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #2C2C2C;
    }
}

.myBtn__link{
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0;
    font-size: 16px;
    color: black;
    font-family: "Prata", serif;
}