.btn{
    padding: 7px 35px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-family: "Prata", serif;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgba(215, 211, 211, 0.697) !important;
    border-radius: 5px;
}
.btn:active{
    background-color: rgb(195, 223, 232) !important;
    border-radius: 5px;
}